build:
  type: External_Build
  content: $GIT_COMMIT_ID
deploy:
  type: None
  content: ''
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-10-13T03:33:20.350Z
