build:
  type: External_Build
  content: $GIT_COMMIT_ID
deploy:
  type: text
  content: |-
    #/bin/sh
    HELM_OPTS=""
    helm upgrade testbreak-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
    adad
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-10-13T06:41:39.576Z
