build:
  type: text
  content: |
    #!/bin/sh

    # make all
    # docker build
    docker build -f ballot/Dockerfile -t ballot:latest ballot 
deploy:
  type: text
  content: |-
    #/bin/sh

    docker-compose -f newVotingApp/docker-compose.yaml -f docker-compose.yaml up -d
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: docker-compose.yaml
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2023-01-16T07:32:15.315Z
